backends/4-order-processing/statemachine/op.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "DynamoDB Get Shop status",
  "States": {
    "DynamoDB Get Shop status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "serverlesspresso-config-table",
        "Key": {
          "PK": {
            "S.$": "States.Format('config-{}', $.detail.bucket.eventId)"
          }
        }
      },
      "ResultPath": "$.GetStore",
      "Next": "Shop Open?"
    },
    "Shop Open?": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.GetStore.Item.storeOpen.BOOL",
            "BooleanEquals": true
          },
          "Next": "EventBridge PutEvents"
        }
      ],
      "Default": "ListExecutions"
    },
    "ListExecutions": {
      "Type": "Task",
      "Next": "Is capacity available?",
      "Parameters": {
        "StateMachineArn.$": "$$.StateMachine.Id",
        "MaxResults": 100,
        "StatusFilter": "RUNNING"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:listExecutions",
      "ResultPath": "$.isCapacityAvailable"
    },
    "Is capacity available?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.isCapacityAvailable[20]",
          "IsPresent": true,
          "Next": "EventBridge PutEvents"
        }
      ],
      "Default": "Emit - Workflow Started TT"
    },
    "Emit - Workflow Started TT": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "Message": "The workflow waits for your order to be submitted. It emits an event with a unique 'task token'. The token is stored in an Amazon DynamoDB table, along with your order ID.",
              "TaskToken.$": "$$.Task.Token",
              "orderId.$": "$.detail.orderId",
              "userId.$": "$.detail.userId",
              "eventId.$": "$.detail.bucket.eventId"
            },
            "DetailType": "OrderProcessor.WorkflowStarted",
            "EventBusName": "Serverlesspresso",
            "Source": "awsserverlessda.serverlesspresso"
          }
        ]
      },
      "Next": "Generate Order Number",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "Comment": "Customer timed out",
          "Next": "Customer timedout",
          "ResultPath": "$.comment"
        }
      ],
      "HeartbeatSeconds": 300
    },
    "Customer timedout": {
      "Type": "Pass",
      "Result": "Customer timedout",
      "Next": "Emit - error timeout",
      "ResultPath": "$.cause"
    },
    "Emit - error timeout": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "Message": "The order timed out. Step Functions waits a set amount of time (5 minutes for a customer, 15 minutes for a barista), no action was taken and so the order is ended.",
              "userId.$": "$.detail.userId",
              "orderId.$": "$.detail.orderId",
              "eventId.$": "$.detail.bucket.eventId",
              "cause.$": "$.cause"
            },
            "DetailType": "OrderProcessor.OrderTimeOut",
            "EventBusName": "Serverlesspresso",
            "Source": "awsserverlessda.serverlesspresso"
          }
        ]
      },
      "End": true
    },
    "Generate Order Number": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "serverlesspresso-counting-table",
        "Key": {
          "PK": {
            "S.$": "States.Format('orderID-{}', $.detail.bucket.eventId)"
          }
        },
        "UpdateExpression": "set IDvalue = IDvalue + :val",
        "ExpressionAttributeValues": {
          ":val": {
            "N": "1"
          }
        },
        "ReturnValues": "UPDATED_NEW"
      },
      "Next": "Emit - Awaiting Completion TT",
      "ResultPath": "$.Order.Payload",
      "ResultSelector": {
        "orderNumber.$": "$.Attributes.IDvalue.N"
      }
    },
    "Emit - Awaiting Completion TT": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "Message": "You pressed 'submit order'. The workflow resumes using the stored 'task token', it generates your order number. It then pauses again, emitting an event with a new 'task token'.",
              "TaskToken.$": "$$.Task.Token",
              "orderId.$": "$.detail.orderId",
              "orderNumber.$": "$.Order.Payload.orderNumber",
              "userId.$": "$.detail.userId",
              "eventId.$": "$.detail.bucket.eventId"
            },
            "DetailType": "OrderProcessor.WaitingCompletion",
            "EventBusName": "Serverlesspresso",
            "Source": "awsserverlessda.serverlesspresso"
          }
        ]
      },
      "Next": "Pass",
      "ResultPath": "$.order",
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "Comment": "Barista timed out",
          "Next": "Barista timedout",
          "ResultPath": "$.comment"
        }
      ],
      "HeartbeatSeconds": 900
    },
    "Barista timedout": {
      "Type": "Pass",
      "Result": "Barista timedout",
      "Next": "Emit - error timeout",
      "ResultPath": "$.cause"
    },
    "EventBridge PutEvents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "Message": "The Step functions workflow checks if the shop is open and has capacity to serve a new order by invoking a Lambda function that queries the Shop conig service. The shop was not ready, and so a 'not ready' event is emitted to cancel the current order.",
              "userId.$": "$.detail.userId",
              "eventId.$": "$.detail.bucket.eventId"
            },
            "DetailType": "OrderProcessor.ShopUnavailable",
            "EventBusName": "Serverlesspresso",
            "Source": "awsserverlessda.serverlesspresso"
          }
        ]
      },
      "End": true
    },
    "Pass": {
      "Type": "Pass",
      "Next": "Emit - order finished"
    },
    "Emit - order finished": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "Message": "The order has reached the end of the workflow, and so a final event is emitted to alert other services to this.",
              "userId.$": "$.detail.userId",
              "orderId.$": "$.detail.orderId",
              "eventId.$": "$.detail.bucket.eventId"
            },
            "DetailType": "OrderProcessor.orderFinished",
            "EventBusName": "Serverlesspresso",
            "Source": "awsserverlessda.serverlesspresso"
          }
        ]
      },
      "End": true
    }
  }
}